@page "/grid/overview"
@page "/grid/index"

@using CommonLib
@using CommonLib.Models
@using Telerik.DataSource;

@inject ProductService ProductService
@inject CategoryService CategoryService

@*
CUD             https://docs.telerik.com/blazor-ui/components/grid/editing/overview
ConfirmDelete   https://docs.telerik.com/blazor-ui/components/grid/editing/built-in-dialogs/delete-confirmation
Pageable        https://docs.telerik.com/blazor-ui/components/grid/paging
Groupable       https://docs.telerik.com/blazor-ui/components/grid/grouping/overview
Sortable        https://docs.telerik.com/blazor-ui/components/grid/sorting
FilterMode      https://docs.telerik.com/blazor-ui/components/grid/filter/overview
Resizable       https://docs.telerik.com/blazor-ui/components/grid/columns/resize
Reorderable     https://docs.telerik.com/blazor-ui/components/grid/columns/reorder
SelectionMode   https://docs.telerik.com/blazor-ui/components/grid/selection/overview
OnStateInit     https://docs.telerik.com/blazor-ui/components/grid/state
Template        https://docs.telerik.com/blazor-ui/components/grid/templates/column
Globalization   https://docs.telerik.com/blazor-ui/globalization/localization

*@

<TelerikGrid Data=@Products
             OnUpdate="@UpdateHandler"
             OnDelete="@DeleteHandler"
             OnCreate="@CreateHandler"
             ConfirmDelete="true"
             Pageable="true"
             Groupable="true"
             Sortable="true"
             FilterMode="GridFilterMode.FilterMenu"
             Resizable="true"
             Reorderable="true"
             EditMode="GridEditMode.Popup"
             SelectionMode="GridSelectionMode.Multiple"
             OnStateInit="@((GridStateEventArgs<ProductDto> args) => OnStateInit(args))"
             PageSize="10">
    <GridColumns>
        <GridCheckboxColumn></GridCheckboxColumn>
        <GridColumn Field="@nameof(ProductDto.ProductName)" Title="Product Name" Width="195px" />
        <GridColumn Field="@nameof(ProductDto.UnitPrice)" Width="120px" Title="Cost" TextAlign="@ColumnTextAlign.Right">
            <Template>
                    @((context as ProductDto).UnitPrice.GetValueOrDefault().ToString("C2"))
            </Template>
        </GridColumn>
        <GridColumn Field="@nameof(ProductDto.Discontinued)" Width="135px" Title="Discontinued" Editable="false" TextAlign="@ColumnTextAlign.Center">
            <Template>
                @{
                    var product = context as ProductDto;

                    if (product.Discontinued.GetValueOrDefault())
                    {
                        <span class="k-badge k-badge-md k-badge-solid k-badge-rounded k-badge-error">Discontinued</span>
                    }
                    else
                    {
                        <span class="k-badge k-badge-md k-badge-solid k-badge-rounded k-badge-success">Available</span>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Field="@nameof(ProductDto.CategoryId)" Title="Category" Width="140px">
            <Template>
                @{
                    var product = context as ProductDto;
                    var categoryName = Categories.FirstOrDefault(c => c.CategoryId == product.CategoryId)?.CategoryName;
                    @categoryName;
                }
            </Template>
            <EditorTemplate>
                @{
                    var product = context as ProductDto;
                    <TelerikDropDownList Data="@Categories"
                                         @bind-Value="@product.CategoryId"
                                         DefaultText="Choose Category"
                                         TextField="CategoryName"
                                         ValueField="CategoryId">
                    </TelerikDropDownList>
                }
            </EditorTemplate>
            <FilterMenuTemplate>
                @{
                    <div class="filter-values-container">
                        @foreach (var category in Categories)
                        {
                            <div>
                                <TelerikCheckBox Value="@(GetFilterValues(context.FilterDescriptor).Contains(category.CategoryId))"
                                                 ValueChanged="@((bool value) => ColumnValueChanged(value, category.CategoryId, context.FilterDescriptor))"
                                                 Id="@($"name_{category.CategoryId}")">
                                </TelerikCheckBox>
                                <label for="@($"name_{category.CategoryId}")">
                                    @category.CategoryName
                                </label>
                            </div>
                        }
                    </div>
                }
            </FilterMenuTemplate>
            <GroupHeaderTemplate>
                @{
                    if (context.Value != null)
                    {
                        <span>Category: @Categories.FirstOrDefault(c => c.CategoryId == (int)context.Value).CategoryName</span>
                    }
                    else
                    {
                        <span>No Category</span>
                    }
                }
            </GroupHeaderTemplate>
        </GridColumn>
        <GridColumn Field="@nameof(ProductDto.UnitsInStock)" Title="In Stock" Width="170px">
            <Template>
                @{
                    var product = context as ProductDto;
                    var value = product.UnitsInStock.GetValueOrDefault();
                }
                <TelerikProgressBar Class="width-100" Max="125" Value="(double)value">
                    <ProgressBarLabel Visible="true" Position="@ProgressBarLabelPosition.Center">
                        <Template Context="progressBarContext">
                            @if (value > 125)
                            {
                                <span style="font-weight:bold">Over 125 in stock</span>
                            }
                            else
                            {
                                <span>In stock:<span style="font-weight:bold">@(progressBarContext.Value)</span></span>
                            }
                        </Template>
                    </ProgressBarLabel>
                </TelerikProgressBar>
            </Template>
        </GridColumn>
        <GridColumn Field="@nameof(ProductDto.QuantityPerUnit)" Title="Quantity Per Unit" Width="200px" />
        <GridCommandColumn Width="190px">
            <GridCommandButton Command="Save" Icon="save" ShowInEdit="true">Update</GridCommandButton>
            <GridCommandButton Command="Edit" Icon="edit">Edit</GridCommandButton>
            <GridCommandButton Command="Delete" Icon="delete">Delete</GridCommandButton>
            <GridCommandButton Command="Cancel" Icon="cancel" ShowInEdit="true">Cancel</GridCommandButton>
        </GridCommandColumn>
    </GridColumns>
    <GridToolBar>
        <GridCommandButton Command="Add" Icon="add">Add Product</GridCommandButton>
    </GridToolBar>
</TelerikGrid>

@code {
    public List<ProductDto> Products { get; set; }
    public List<CategoryDto> Categories { get; set; }

    protected override void OnInitialized()
    {
        LoadData();
    }

    private void LoadData()
    {
        Products = ProductService.GetProducts().ToList();
        Categories = CategoryService.GetCategories()?.ToList();
    }

    private void OnStateInit(GridStateEventArgs<ProductDto> args)
    {
        args.GridState.GroupDescriptors = new List<GroupDescriptor>()
        {
            new GroupDescriptor()
            {
                Member = nameof(ProductDto.CategoryId),
                MemberType = typeof(int)
            }
        };
    }

    public void UpdateHandler(GridCommandEventArgs args)
    {
        var product = (ProductDto)args.Item;
        product.CategoryName = Categories.FirstOrDefault(c => c.CategoryId == product.CategoryId)?.CategoryName;
        ProductService.UpdateProduct(product);
        LoadData();
    }

    public void DeleteHandler(GridCommandEventArgs args)
    {
        ProductService.DeleteProduct((ProductDto)args.Item);
        LoadData();
    }

    public void CreateHandler(GridCommandEventArgs args)
    {
        var product = (ProductDto)args.Item;
        product.CategoryName = Categories.FirstOrDefault(c => c.CategoryId == product.CategoryId)?.CategoryName;
        ProductService.CreateProduct(product);
        LoadData();
    }

    public List<int?> GetFilterValues(CompositeFilterDescriptor filterDescriptor)
    {
        return filterDescriptor.FilterDescriptors.Select(f => (int?)(f as FilterDescriptor).Value).ToList();
    }

    public void ColumnValueChanged(bool value, int categoryId, CompositeFilterDescriptor filterDescriptor)
    {
        var filter = filterDescriptor.FilterDescriptors.FirstOrDefault(f => categoryId.Equals((f as FilterDescriptor).Value));

        filterDescriptor.LogicalOperator = FilterCompositionLogicalOperator.Or;

        if (value && filter == null)
        {
            filterDescriptor.FilterDescriptors.Add(new FilterDescriptor(nameof(ProductDto.CategoryId), FilterOperator.IsEqualTo, categoryId));
        }
        else if (!value && filter != null)
        {
            filterDescriptor.FilterDescriptors.Remove(filter);
        }
    }
}

<style>
    .width-100 {
        width: 100%;
    }
</style>