@page "/datagrid/overview"
@using CommonLib
@using CommonLib.Models
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.ProgressBar
@using Syncfusion.Blazor.Spinner
@using Syncfusion.Blazor.DropDowns
@using System;
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper
@inject ProductService ProductService
@inject CategoryService CategoryService

@*
    CUD             https://blazor.syncfusion.com/documentation/datagrid/editing
    ConfirmDelete   https://blazor.syncfusion.com/documentation/datagrid/in-line-editing#confirmation-dialog
    Pageable        https://blazor.syncfusion.com/documentation/datagrid/paging
    Groupable       https://blazor.syncfusion.com/documentation/datagrid/grouping
    Sortable        https://blazor.syncfusion.com/documentation/datagrid/sorting
    FilterMode      https://blazor.syncfusion.com/documentation/datagrid/filtering
    Resizable       https://blazor.syncfusion.com/documentation/datagrid/column-resizing
    Reorderable     https://blazor.syncfusion.com/documentation/datagrid/column-reorder
    SelectionMode   https://blazor.syncfusion.com/documentation/datagrid/selection#checkbox-selection
    Event           https://blazor.syncfusion.com/documentation/datagrid/events
    Template        https://blazor.syncfusion.com/documentation/datagrid/templates
    Globalization   https://blazor.syncfusion.com/documentation/datagrid/global-local

*@

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <div id="container">
                <SfGrid @ref="Grid" DataSource="@Products" EnableHeaderFocus="true" AllowGrouping="true" AllowReordering="true"
                        AllowSelection="true" AllowSorting="true" AllowFiltering="true" AllowPaging="true" AllowResizing="true"
                        RowHeight="38" Toolbar="@(new List<string>() { "Add"})">
                    <GridEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true" Mode="EditMode.Dialog" ShowDeleteConfirmDialog="true"></GridEditSettings>
                    <GridEvents OnActionBegin="ActionBeginHandler" OnActionComplete="ActionCompleteHandler" TValue="ProductDto"></GridEvents>
                    <GridPageSettings PageSize="40"></GridPageSettings>
                    <GridGroupSettings Columns="@GroupedColumns"></GridGroupSettings>
                    <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>

                    <GridSelectionSettings CheckboxOnly="true" PersistSelection="true" Type="SelectionType.Multiple"></GridSelectionSettings>
                    <GridColumns>
                        <GridColumn Type="ColumnType.CheckBox" AllowFiltering="false" AllowSorting="false" Width="60"></GridColumn>
                        <GridColumn Field=@nameof(ProductDto.ProductName) HeaderText="ProductName" Width="130"></GridColumn>
                        <GridColumn Field=@nameof(ProductDto.UnitPrice) HeaderText="UnitPrice" Width="200" ClipMode="ClipMode.EllipsisWithTooltip">
                            <Template>
                                @((context as ProductDto).UnitPrice.GetValueOrDefault().ToString("C2"))
                            </Template>
                        </GridColumn>
                        <GridColumn Field=@nameof(ProductDto.Discontinued) Width="140">
                            <Template>
                                @{
                                    var product = context as ProductDto;
                                    if (!product.Discontinued.GetValueOrDefault())
                                    {
                                        <div class="statustemp e-activecolor">
                                            <span class="statustxt e-activecolor">Available</span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="statustemp e-inactivecolor">
                                            <span class="statustxt e-inactivecolor">Discontinued</span>
                                        </div>
                                    }
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn Field=@nameof(ProductDto.CategoryName) FilterSettings="new FilterSettings{Type = Syncfusion.Blazor.Grids.FilterType.CheckBox}" HeaderText="CategoryName" Width="130">
                            <EditTemplate>
                                @{
                                    <SfDropDownList ID="Category" @bind-Value="@((context as ProductDto).CategoryId)" TItem="CategoryDto" TValue="int?" DataSource="@Categories">
                                        <DropDownListFieldSettings Value="CategoryId" Text="CategoryName"></DropDownListFieldSettings>
                                    </SfDropDownList>
                                }
                            </EditTemplate>
                        </GridColumn>
                        <GridColumn Field=@nameof(ProductDto.UnitsInStock) HeaderText="UnitsInStock" Width="130">
                            <Template>
                                @{
                                    var product = context as ProductDto;
                                    var value = product.UnitsInStock.GetValueOrDefault();
                                }

                                @{
                                    if (value > 125)
                                    {
                                        <SfProgressBar Type="ProgressType.Linear" Height="40"
                                               Width="100%" ID="Acutal"
                                               TrackThickness="24"
                                               ProgressThickness="24"
                                               ShowProgressValue="true"
                                               Value="125" Minimum="0" Maximum="125" ProgressColor="#ff6358"
                                               Theme="@Theme.Bootstrap5"
                                               TrackColor="#eee">
                                            <ProgressBarLabelStyle Text="Over 125 in stock" TextAlignment="TextAlignmentType.Center" Color="white" />
                                        </SfProgressBar>
                                    }
                                    else
                                    {
                                        <SfProgressBar Type="ProgressType.Linear" Height="40"
                                               Width="100%" ID="Acutal"
                                               TrackThickness="24"
                                               ProgressThickness="24"
                                               ShowProgressValue="true"
                                               Value="value" Minimum="0" Maximum="125" ProgressColor="#ff6358"
                                               Theme="@Theme.Bootstrap5"
                                               TrackColor="#eee">
                                            <ProgressBarLabelStyle Text="@("In stock:"+value)" TextAlignment="TextAlignmentType.Center" Color="white" />
                                        </SfProgressBar>

                                    }
                                }


                            </Template>

                        </GridColumn>
                        <GridColumn Field=@nameof(ProductDto.QuantityPerUnit) HeaderText="QuantityPerUnit" Width="130"></GridColumn>
                        <GridColumn HeaderText="Manage Records" Width="150">
                            <GridCommandColumns>
                                <GridCommandColumn Type="CommandButtonType.Edit" ButtonOption="@(new CommandButtonOptions() {IconCss="e-icons e-edit", CssClass="e-flat" })"></GridCommandColumn>
                                <GridCommandColumn Type="CommandButtonType.Delete" ButtonOption="@(new CommandButtonOptions() {IconCss="e-icons e-delete", CssClass="e-flat" })"></GridCommandColumn>
                                <GridCommandColumn Type="CommandButtonType.Save" ButtonOption="@(new CommandButtonOptions() {IconCss="e-icons e-save", CssClass="e-flat" })"></GridCommandColumn>
                                <GridCommandColumn Type="CommandButtonType.Cancel" ButtonOption="@(new CommandButtonOptions() {IconCss="e-icons e-cancel-icon", CssClass="e-flat" })"></GridCommandColumn>
                            </GridCommandColumns>
                        </GridColumn>
                    </GridColumns>
                </SfGrid>
                <SfSpinner @ref="@SpinnerObj"></SfSpinner>
            </div>
        </div>
    </div>
</div>

@code {
    SfGrid<ProductDto> Grid { get; set; }
    public string[] GroupedColumns = new string[] { "CategoryName" };
    SfSpinner SpinnerObj;

    private int? index { get; set; } = 0;
    private int? PreviousIndex { get; set; } = 0;

    public List<ProductDto> Products { get; set; }
    public List<CategoryDto> Categories { get; set; }

    protected override void OnInitialized()
    {
        LoadData();
    }

    private void LoadData()
    {
        Products = ProductService.GetProducts().ToList();
        Categories = CategoryService.GetCategories()?.ToList();
    }

    public void ActionBeginHandler(ActionEventArgs<ProductDto> Args)
    {
        if (Args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save))
        {
            if (Args.Action == "Add")
            {
                Args.Data.CategoryName = Categories.FirstOrDefault(c => c.CategoryId == Args.Data.CategoryId)?.CategoryName;
                ProductService.CreateProduct(Args.Data);
                Grid.CloseEditAsync();
            }
            else
            {
                Args.Data.CategoryName = Categories.FirstOrDefault(c => c.CategoryId == Args.Data.CategoryId)?.CategoryName;
                ProductService.UpdateProduct(Args.Data);
                LoadData();
                Grid.CloseEditAsync();
            }
        }
        if (Args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Delete))
        {
            ProductService.DeleteProduct(Args.Data);
            LoadData();
        }
    }
    public void ActionCompleteHandler(ActionEventArgs<ProductDto> Args)
    {

        if (Args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save))
        {
            LoadData();//to fetch the updated data from db to Grid
        }
    }
}

<style>
    .statustemp.e-activecolor {
        background-color: #ccffcc;
    }

    [class*=' e-'] {
        box-sizing: border-box;
    }

    .statustemp {
        position: relative;
        height: 19px;
        border-radius: 5px;
        text-align: center;
    }

    div {
        display: block;
    }

    td.e-rowcell .statustxt.e-activecolor {
        color: #00cc00;
        position: relative;
        top: 9px;
    }

    .statustemp.e-inactivecolor {
        background-color: #ffd7cc;
    }

    td.e-rowcell .statustxt.e-inactivecolor {
        color: #e60000;
        position: relative;
        top: 9px;
    }
</style>